.imgBox-borders {
    border: 2px solid #E63946;
    border-radius: 10%;
    gap: 2px;
    text-align: center; /* Center text */
}

.imgBox {
    display: inline-flex; /* Use inline-flex to fit the content */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 12px 10px; /* Add padding around the content */
    border: 2px solid #E63946;
    border-radius: 10%;
    text-align: center; /* Center text */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.imgBox img {
    width: 72px; /* Set the image width to 72px */
    height: auto; /* Maintain the aspect ratio */
}

.imgBox p {
    font-size: 3rem;
    margin-top: 20px; /* Increase the margin-top to lower the text */
}

.imgBox-borders:hover {
    transform: scale(1.05); /* Enlarge the element on hover */
    transition: 0.3s; /* Add a smooth transition effect */
}

.imgBox:hover {
    transform: scale(1.05); /* Slightly enlarge the element on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}