.hero-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-content {
    display: inline;
    position: relative;
}

.hero-content h1 {
    font-size: 3rem; /* Increased by 5px from 2.5rem */
    font-weight: 700;
}

.hero-content p {
    font-size: 2.3rem; /* Increased by 5px from 1.8rem */
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-image img {
    max-width: 720px;
    max-height: 560px;
    
    border: 10px solid #E63946;
    border-radius: 12px;
}

.contact-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-button button {
    display: flex;
    cursor: pointer;
    background-color: #F1FAEE;
    color: #E63946;
    font-size: 1.7rem; /* Increased by 5px from 1.2rem */
    padding: 10px 20px;
    border: 2px solid #E63946;
    border-radius: 10px;
}

.contact-button button:hover {
    background-color: #E63946;
    color: #F1FAEE;
    transform: scale(1.05);
    transition: 0.3s;
}